button{
  margin: 5px;
  background-color: #8c8;
  border:none;
  opacity: .95;
  height:30px;
}

li {
  list-style-type: none;
}
body {
  font-family: sans-serif;
  background-color: #111;
  color:white;
}

#root {
  margin-top: 250px;
}

input {
  width:400px;
  color:black;
  opacity:.15;
  font-size: 20px;
  color:black;
  font-weight: 600;
}

#tasks {
  font-style: oblique;;
  font-weight: 900;
  font-size: 50px;
}
